*{
    margin:0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
body{
    background-image: url("http://www.ideasphere.com/wp-content/uploads/2016/08/Savin-NY-Website-Background-Web-1.jpg");
    background-repeat: no-repeat;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    background-color:rgb(0 225 255 / 26%);
    border-radius: 10px;
    width: 350px;
    height: 500px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.192);
}
img{
    background-color: rgb(0, 0, 0);
    padding: 2px;
    margin: 40px 20px 20px 20px;
    border-radius: 50%;
}
.pic{
    border-radius: 50%;
}
.cardHeader{
    background-color: rgb(0 206 255);
    height: 320px;
}
.pic{
    align-self: center;
}
.padding{
    padding: 0px 10px 10px 10px;
    font-size: large;
    font-weight: bold;
}
.desc{
    margin-top: 10px;
}
.links{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.fa{
    padding: 20px;
    font-size: 30px;
}
.hover:hover{
    color:#edf6f9;
}
a{
    color:black
}
.footer{
    display: flex;
    justify-content: center;
}
.skill{
    margin-top: 20px;
}
.skl{
    margin-bottom: 20px;
    text-decoration: underline;
}
.ht ,.css,.js{
    font-size: 30px;
    padding: 10px;
}
.hover-color:hover{
    color: rgb(91 142 255);
}
